@import "tailwindcss";

:root {
  --primary-color: #ff9800;
  /* orange accent */
  --background-color: #121212;
  /* Dark background */
  --text-color: #ffffff;
  --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}