@import "tailwindcss";

:root {
  --primary-color: #ff9800;
  /* orange accent */
  --primary-contrast-text: #000000;
  /* Black for high contrast on orange */

  --background-color: #121212;
  /* Dark background */
  --background-paper: #1e1e1e;
  /* Slightly lighter dark for paper surfaces */

  --text-color: #ffffff;
  /* White text */
  --text-secondary-color: #b0b0b0;
  /* Light grey for secondary text */

  --divider-color: #424242;
  /* Grey for dividers */

  /* --background-color: #ffffff; */
  /* --background-paper: #f5f5f5; */
  /* --text-color: #000000; */
  /* --text-secondary-color: #5f6368; */
  /* --primary-contrast-text: #ffffff; */
  /* --primary-color: #ff9800; */
  --secondary-color: #f50057;
  --error-color: #f44336;
  --success-color: #4caf50;

  --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

.MuiInputLabel-root, .MuiSelect-root {
  color: var(--text-color) !important;
}
