@import "tailwindcss";

:root {
  --primary-color: #007BFF;
  --primary-contrast-text: #FFFFFF;

  --background-color: #F8F9FA;
  --background-paper: #FFFFFF;

  --text-color: #212529;
  --text-secondary-color: #6C757D;

  --divider-color: #E9ECEF;

  --secondary-color: #6C757D;
  --error-color: #DC3545;
  --success-color: #28A745;

  --font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

.MuiInputLabel-root, .MuiSelect-root {
  color: var(--text-color) !important;
}
